# macOS
.DS_Store
*.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v2
!default.mode1v2
*.mode2v2
!default.mode2v2
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata

# Archives & zips
*.zip
*.ipa

# Claude Code
.claude/
